.Phone {
  position: fixed;
    top: 10px;
    bottom: 0;
    right: 120px;
    width: 400px;
}

.Landing {
  position: relative;
    left: 0px;
    margin-right: 500px;
}

.Header {
  margin-top: 50px;
  margin-left: 10px;
}
